html,
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #ebe8f7 0%, #f5f4fb 100%);
    color: #1f1b3a;
    margin: 0;
    font-weight: 600
}

.navbar {
    height: 60px;
    width: 100%;
    background: #3E3E4B;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box;
}


#favicon {
    width: auto;
    height: 50px;
}


#first,
#last {
    display: flex;
    align-items: center;
}


#first {
    justify-content: flex-start;
}


#last {
    justify-content: flex-end;
}


.link {
    color: black;
    text-decoration: none;

    margin: 10px;
    padding: 0px 10px;

    background-color: #D5D6E9;
}


.link:hover {
    color: #6355c7;
}


#menu-button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}


@media (max-width: 900px) {

    .navbar {
        justify-content: space-between;
    }


    #first {
        width: auto;
    }


    #last {
        display: none;
    }


    #first .link {
        display: none;
    }


    #menu-button {
        display: block;
    }
}


#lemon24k {
    text-decoration: none;
    color: #9799B9;
}

#home {
    color:black;
    text-decoration: none;
    margin: 10px;
    background-color: white;
}



/* Center Text */
#center-text {
    border-radius: 30px; 
    width: 300px;
    margin: 30px auto; 
    text-align: center;
    font-size: 40px;
    background: #ffffff;
}

#about {
    border-radius: 30px; 
    width: 50%;
    text-align: center;
    font-size:  15px;
    text-decoration: none;
    border: 10px solid #373851;
    padding:20px ;
    margin: 30px 40px;
    background-color: #D5D6E9;
}

#text {
    text-align: justify;
}


.text-box {
    padding: 20px;
    border-radius: 30px;
    background-color: #ffffff;
}

#about-character {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#banner{
    position: relative;
    width: 100%;
}

.banner-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

#banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: clamp(30px, 5vw, 80px);
  font-weight: bold;
  text-align: center;
}


.character-img {
    width: 150px;
    height: auto;
}

/* Bottom Bar */

#bottombar {
    background: #373851;
    position: sticky;
    bottom: 0;
    height: 60px;
    width: 100%;
  }

